.icon-circle {
    width: 64px;
    height: 64px;
}

.cliente-img {
    width: 100%;
    height: 100px; /* altura fija para todas */
    object-fit: contain; /* mantiene la proporción sin deformar */
}

