.icon-circle {
    width: 64px;
    height: 64px;
}

.cliente-img {
    width: 110%;
    height: 110px;
    object-fit: contain;
}

.card-zoom {
    transition: transform 0.3s ease-in-out; 
}

.card-zoom:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 10;
}

